:root {
    font-size: 62.5%;
    scroll-behavior: smooth;

    --vh: 1vh; // Will be updated by index.js/initCSSVars()
}

body {
    position: relative;

    font-size: $fs-body;
    font-weight: $fw-regular;
    font-family: $ff-sans;

    line-height: 1.6;
    color: $c-text;
    background: $c-white;
    overflow-anchor: auto;
}

a {
    &,
    &:hover,
    &:focus,
    &:active {
        transition: all $transition-default; //sass-lint:disable-line no-transition-all
        text-decoration: none;
        color: inherit;
    }
}

::selection {
    color: $c-white;
    background: $c-theme-color;
}

button,
[type="button"] {
    cursor: pointer;
}

em {
    font-style: normal;
}

img,
svg,
iframe {
    display: block;
    max-width: 100%;
}

img,
svg {
    height: auto;
}
