/* Contact Form 7 Styles
################################################################# */
// sass-lint:disable nesting-depth force-attribute-nesting no-color-literals

$form-error-red: #dc3232;
$form-response-blue: #00a0d2;
$form-accept-green: #46b450;
$form-spam-orange: #f56e28;
$form-invalid-yellow: #ffb900;

.wpcf7 {
    .screen-reader-response {
        position: absolute;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        width: 1px;
        margin: 0;
        padding: 0;
        border: none;
    }

    form {
        & {
            .wpcf7-response-output {
                margin: 2em 0.5em 1em;
                padding: 0.2em 1em;
                border: 2px solid $form-response-blue;
            }
        }

        &.init {
            .wpcf7-response-output {
                display: none;
            }
        }

        &.sent {
            .wpcf7-response-output {
                border-color: $form-accept-green;
            }
        }

        &.failed,
        &.aborted {
            .wpcf7-response-output {
                border-color: $form-error-red;
            }
        }

        &.spam {
            .wpcf7-response-output {
                border-color: $form-spam-orange;
            }
        }

        &.invalid,
        &.unaccepted {
            .wpcf7-response-output {
                border-color: $form-invalid-yellow;
            }
        }
    } //form

    .ajax-loader {
        visibility: hidden;
        display: inline-block;
        background-image: url("../../plugins/contact-form-7/assets/ajax-loader.gif");
        width: 16px;
        height: 16px;
        border: none;
        padding: 0;
        margin: 0 0 0 4px;
        vertical-align: middle;

        &.is-active {
            visibility: visible;
        }
    }

    .ajax-error {
        display: none;
    }

    .placeheld {
        color: #888;
    }

    input[type="file"] {
        cursor: pointer;

        &:disabled {
            cursor: default;
        }
    }

    .wpcf7-submit:disabled {
        cursor: not-allowed;
    }
} //.wpcf7

.wpcf7-form-control-wrap {
    position: relative;
}

.wpcf7-not-valid-tip {
    color: $form-error-red;
    font-size: 1em;
    font-weight: normal;
    display: block;
}

.use-floating-validation-tip {
    .wpcf7-not-valid-tip {
        position: absolute;
        top: 20%;
        left: 20%;
        z-index: 100;
        border: 1px solid $form-error-red;
        background: $c-white;
        padding: 0.2em 0.8em;
    }
}

.wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 1em;
}

.wpcf7-list-item-label {
    &:before,
    &:after {
        content: " ";
    }
}
