/* Text
----------------------------------------------- */
// .o-title {}

/* Containers
----------------------------------------------- */
// .o-wrapper {}

// .o-container {}

/* Buttons
----------------------------------------------- */
.o-bttn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    line-height: 1.4;
    text-align: center;
    border-radius: 200vh;

    color: var(--c-white);
    background: var(--c-theme-color);
    border: 1px solid var(--c-theme-color);

    &:hover,
    &:focus,
    &:active {
        color: var(--c-theme-color);
        background: var(--c-white);
    }
}

/* Media
----------------------------------------------- */
// .o-media-container {
//     width: 100%;

//     div {
//         width: 100%;
//         position: relative;
//         padding-bottom: 100%; // 1:1
//     }

//     iframe {
//         position: absolute;
//         left: 0;
//         top: 0;
//         width: 100%;
//         height: 100%;
//         display: block;
//     }

//     @media (min-width: $breakpoint-s) {
//         div {
//             padding-bottom: 55%;
//         }
//     }
// }

// .o-ratio-img {
//     width: 100%;

//     div {
//         width: 100%;
//         position: relative;
//         padding-bottom: 100%; // 1:1
//     }

//     &--half {
//         div {
//             padding-bottom: 50%; // 2:1
//         }
//     }

//     iframe,
//     img,
//     svg {
//         display: block;
//         position: absolute;
//         left: 0;
//         top: 0;
//         width: 100%;
//         height: 100%;
//         @include object-fit-cover;
//     }
// }

// .o-sr-content {
//     @include screenreader-only;
// }

/* Misc
----------------------------------------------- */
