//
// Breakpoints
//
$breakpoint-ss: 450px;
$breakpoint-s: 600px;
$breakpoint-m: 900px;
$breakpoint-ml: 1200px;
$breakpoint-l: 1400px;
$breakpoint-xl: 1600px;

//
// Transitions
//
$transition-default: 150ms ease;

:root {
    font-size: 62.5%;
    scroll-behavior: smooth;

    /**
    * Colors
    */
    --c-black: #000;
    --c-white: #fff;
    --c-text: #444;
    --c-theme-color: #6e98cc;
    --c-shadow: #323232; //color used in shadow functions of tools

    /**
    * Measurements
    */
    --vh: 1vh; // Will be updated by index.js/initCSSVars()
    --edge-padding: 2rem;
    --zindex-slick: 1000;

    @media (min-width: $breakpoint-m) {
        --edge-padding: 7rem;
    }

    /**
    * Text
    */
    --ff-sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
        "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;

    --fw-regular: 400;
    --fs-body: 1.6rem;

    @media (min-width: $breakpoint-m) {
        --edge-padding: 7rem;
    }
}
