# Misc
.DS_Store

# Wordpress
style.css
plugins/*
!plugins/advanced-custom-fields-pro/

# Wordpress Plugins
advanced-cache.php
autoptimize_404_handler.php

# NPM
node_modules/

# Webpack
style.css.map
dist/

# Composer
vendor/
composer.lock
