@charset "UTF-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prose
=============================================================== */
.o-prose {
  /**
  *
  * Default
  *
  */
  font-size: 1em;
  line-height: 1.75;
  /**
  *
  * Gutenburg Overwrites
  *
  */
}
.o-prose a {
  text-decoration: none;
  color: var(--c-theme);
}
.o-prose a:hover {
  border-bottom: 1px solid;
}
.o-prose abbr {
  border-bottom: 1px dotted;
  cursor: help;
}
.o-prose cite {
  font-style: italic;
}
.o-prose hr {
  display: block;
  height: 1px;
  margin-bottom: 1.4em;
  margin-top: 1.4em;
  background: #e6e6e6;
  border: none;
}
.o-prose img {
  vertical-align: text-bottom;
}
.o-prose ins {
  background-color: #0f0;
  text-decoration: none;
}
.o-prose mark {
  background-color: #ff0;
}
.o-prose small {
  font-size: 0.8em;
}
.o-prose strong {
  font-weight: 700;
}
.o-prose sub,
.o-prose sup {
  font-size: 0.8em;
}
.o-prose sub {
  vertical-align: sub;
}
.o-prose sup {
  vertical-align: super;
}
.o-prose p,
.o-prose dl,
.o-prose ol,
.o-prose ul,
.o-prose blockquote,
.o-prose pre,
.o-prose table {
  margin-bottom: 1.4em;
}
.o-prose p:last-child,
.o-prose dl:last-child,
.o-prose ol:last-child,
.o-prose ul:last-child,
.o-prose blockquote:last-child,
.o-prose pre:last-child,
.o-prose table:last-child {
  margin-bottom: 0;
}
.o-prose p:empty {
  display: none;
}
.o-prose h1,
.o-prose h2,
.o-prose h3,
.o-prose h4,
.o-prose h5,
.o-prose h6 {
  font-weight: 700;
  line-height: 1.2;
}
.o-prose h1:first-child,
.o-prose h2:first-child,
.o-prose h3:first-child,
.o-prose h4:first-child,
.o-prose h5:first-child,
.o-prose h6:first-child {
  margin-top: 0;
}
.o-prose h1 {
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}
.o-prose h2 {
  font-size: 1.75em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}
.o-prose h3 {
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}
.o-prose h4 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}
.o-prose h5 {
  font-size: 1.1em;
  margin-bottom: 1.27273em;
  margin-top: 1.27273em;
}
.o-prose h6 {
  font-size: 1em;
  margin-bottom: 1.4em;
  margin-top: 1.4em;
}
.o-prose dd {
  margin-left: 1.4em;
}
.o-prose ol,
.o-prose ul {
  list-style-position: outside;
  margin-left: 1.4em;
}
.o-prose ol {
  list-style-type: decimal;
}
.o-prose ol ol {
  list-style-type: lower-alpha;
}
.o-prose ol ol ol {
  list-style-type: lower-roman;
}
.o-prose ol ol ol ol {
  list-style-type: lower-greek;
}
.o-prose ol ol ol ol ol {
  list-style-type: decimal;
}
.o-prose ol ol ol ol ol ol {
  list-style-type: lower-alpha;
}
.o-prose ul {
  list-style-type: disc;
}
.o-prose ul ul {
  list-style-type: circle;
}
.o-prose ul ul ul {
  list-style-type: square;
}
.o-prose ul ul ul ul {
  list-style-type: circle;
}
.o-prose ul ul ul ul ul {
  list-style-type: disc;
}
.o-prose ul ul ul ul ul ul {
  list-style-type: circle;
}
.o-prose blockquote {
  border-left: 4px solid #e6e6e6;
  padding: 0.6em 1.2em;
}
.o-prose blockquote p {
  margin-bottom: 0;
}
.o-prose code,
.o-prose kbd,
.o-prose samp,
.o-prose pre {
  background-color: #f2f2f2;
  color: #333;
  font-size: 0.9em;
}
.o-prose code,
.o-prose kbd,
.o-prose samp {
  border-radius: 3px;
  line-height: 1.77778;
  padding: 0.1em 0.4em 0.2em;
  vertical-align: baseline;
}
.o-prose pre {
  overflow: auto;
  padding: 1em 1.2em;
}
.o-prose pre code {
  background: none;
  font-size: 1em;
  line-height: 1em;
}
.o-prose figure {
  margin-top: 2.8em;
  margin-bottom: 2.8em;
  text-align: center;
}
.o-prose figure:first-child {
  margin-top: 0;
}
.o-prose figure:last-child {
  margin-bottom: 0;
}
.o-prose figcaption {
  font-size: 0.8em;
  margin-top: 0.875em;
}
.o-prose table {
  width: 100%;
}
.o-prose table pre {
  white-space: pre-wrap;
}
.o-prose th,
.o-prose td {
  font-size: 1em;
  padding: 0.7em;
  border: 1px solid #e6e6e6;
  line-height: 1.4;
}
.o-prose thead tr,
.o-prose tfoot tr {
  background-color: #f5f5f5;
}
.o-prose thead th,
.o-prose thead td,
.o-prose tfoot th,
.o-prose tfoot td {
  font-size: 0.9em;
  padding: 0.77778em;
}
.o-prose thead code,
.o-prose tfoot code {
  background-color: #fff;
}
.o-prose tbody tr {
  background-color: #fff;
}
.o-prose .blocks-gallery-grid {
  /* ul */
  margin-left: 0;
}
.o-prose .blocks-gallery-grid li {
  padding-left: 0;
}
.o-prose .wp-block-button {
  color: inherit;
}
.o-prose .wp-block-button__link {
  /* a */
  color: var(--c-theme);
}
.o-prose .wp-block-button__link:hover {
  border-bottom: none;
  opacity: 0.7;
}
.o-prose .wp-block-image.size-full img {
  margin-left: auto;
  margin-right: auto;
}

/* Swiper
=============================================================== */
/* Pagination
----------------------------------------------- */
/* stylelint-disable-next-line no-duplicate-selectors */
:root {
  --swiper-pagination-color: var(--c-theme);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: var(--c-black);
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 10px;
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
  transform: scale(0.33);
  position: relative;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
  transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 8px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 8px)
  );
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet:only-child {
  /* stylelint-disable-next-line declaration-no-important */
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--c-theme));
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px;
}
.swiper-vertical
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}
.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
}
.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  -webkit-transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform;
}

.swiper-horizontal.swiper-rtl
  > .swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  -webkit-transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform;
}

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--c-theme));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}
.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
  transform-origin: right top;
}
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}
.swiper-vertical > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-horizontal
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

/* Pagination
----------------------------------------------- */
/* stylelint-disable-next-line no-duplicate-selectors */
:root {
  --swiper-navigation-size: 44px;
  --swiper-navigation-color: var(--c-theme);
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--c-theme));
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-button-lock {
  display: none;
}

/* Contact Form 7 Styles
=============================================================== */
/* stylelint-disable-next-line no-duplicate-selectors */
:root {
  --form-error-red: #dc3232;
  --form-response-blue: #00a0d2;
  --form-accept-green: #46b450;
  --form-spam-orange: #f56e28;
  --form-invalid-yellow: #ffb900;
}

.wpcf7 .screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  border: none;
}
.wpcf7 form .wpcf7-response-output {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  margin: 2.5em auto 1em;
  padding: 0.2em 1em;
  border: 2px solid var(--form-response-blue);
}
.wpcf7 form.init .wpcf7-response-output {
  display: none;
}
.wpcf7 form.sent .wpcf7-response-output {
  border-color: var(--form-accept-green);
}
.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
  border-color: var(--form-error-red);
}
.wpcf7 form.spam .wpcf7-response-output {
  border-color: var(--form-spam-orange);
}
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
  border-color: var(--form-invalid-yellow);
}
.wpcf7 .ajax-loader {
  visibility: hidden;
  display: inline-block;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20100%20100%22%20preserveAspectRatio%3D%22xMidYMid%22%3E%0A%20%20%20%20%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%236e98cc%22%20stroke-width%3D%2210%22%20r%3D%2235%22%20stroke-dasharray%3D%22164.93361431346415%2056.97787143782138%22%3E%0A%20%20%20%20%20%20%20%20%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20repeatCount%3D%22indefinite%22%20dur%3D%221s%22%20values%3D%220%2050%2050%3B360%2050%2050%22%20keyTimes%3D%220%3B1%22%3E%3C%2FanimateTransform%3E%0A%20%20%20%20%3C%2Fcircle%3E%0A%3C%2Fsvg%3E")
    no-repeat center center/contain;
  width: 1em;
  height: 1em;
  border: none;
  padding: 0;
  margin: 0 0 0 1em;
  vertical-align: middle;
}
.wpcf7 .ajax-loader.is-active {
  visibility: visible;
}
.wpcf7 .ajax-error {
  display: none;
}
.wpcf7 .placeheld {
  color: #888;
}
.wpcf7 input[type="file"] {
  cursor: pointer;
}
.wpcf7 input[type="file"]:disabled {
  cursor: default;
}
.wpcf7 .wpcf7-submit:disabled {
  cursor: not-allowed;
}

.wpcf7-form-control-wrap {
  position: relative;
}

.wpcf7-not-valid-tip {
  color: var(--form-error-red);
  font-size: 1em;
  font-weight: normal;
  display: block;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 100;
  border: 1px solid var(--form-error-red);
  background: var(--c-white);
  padding: 0.2em 0.8em;
}

.wpcf7-list-item {
  display: inline-block;
  margin: 0 0 0 1em;
}

.wpcf7-list-item-label:before,
.wpcf7-list-item-label:after {
  content: " ";
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  --js-mob-transition-dur: 800ms;
  --js-mob-threshold: 900px;
  --js-vh: 1vh;
}

body {
  position: relative;
  font-family: var(--ff-sans);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  line-height: 1.6;
  color: var(--c-text);
  background: var(--c-white);
  overflow-anchor: auto;
}

a,
a:hover,
a:focus,
a:active {
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  text-decoration: none;
  color: inherit;
}

::-moz-selection {
  color: var(--c-white);
  background: var(--c-theme);
}

::selection {
  color: var(--c-white);
  background: var(--c-theme);
}

button,
[type="button"],
[type="submit"] {
  cursor: pointer;
}

em {
  font-style: normal;
}

img,
svg,
iframe {
  display: block;
  max-width: 100%;
}

img,
svg {
  height: auto;
}

main {
  overflow: hidden;
}

/* Text
----------------------------------------------- */
.o-empty-content {
  margin: 4rem 0;
  text-align: center;
  opacity: 0.7;
  font-size: 0.8em;
}

/* Containers
----------------------------------------------- */
.o-wrapper {
  width: 100%;
  max-width: calc(var(--m-content-width) + var(--m-padding) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--m-padding);
  padding-right: var(--m-padding);
}

/* Buttons
----------------------------------------------- */
/* Media
----------------------------------------------- */
/* Misc
----------------------------------------------- */
/* Desktop Header
----------------------------------------------- */
.c-desk-head {
  position: sticky;
  left: 0;
  top: 0;
  z-index: var(--z-header);
  background: var(--c-white);
  transition: -webkit-box-shadow 400ms ease;
  transition: box-shadow 400ms ease;
  transition: box-shadow 400ms ease, -webkit-box-shadow 400ms ease;
  box-shadow: 0 0 2.5rem Rgba(var(--c-shadow-rgb), 0);
}
.js-scrolled .c-desk-head {
  -webkit-box-shadow: 0 0 2.5rem Rgba(var(--c-shadow-rgb), 0.15);
  box-shadow: 0 0 2.5rem Rgba(var(--c-shadow-rgb), 0.15);
}
.c-desk-head__wrap,
.c-desk-head__cont {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.c-desk-head__wrap {
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  -webkit-transition: padding 400ms ease;
  transition: padding 400ms ease;
}
.js-scrolled .c-desk-head__wrap {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.c-desk-head__logo {
  width: 12rem;
  -webkit-transition: width 550ms ease;
  transition: width 550ms ease;
}
.js-scrolled .c-desk-head__logo {
  width: 8rem;
}
.c-desk-head__nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  list-style: none;
}
.c-desk-head__nav > li:not(:first-child) {
  margin-left: 2em;
}
@media (max-width: 899px) {
  .c-desk-head {
    display: none;
  }
}

/* Mobile Navigation
----------------------------------------------- */
.c-mob-head {
  position: sticky;
  z-index: var(--z-header);
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 1.6rem var(--m-padding);
  background: var(--c-white);
  -webkit-transition: -webkit-box-shadow 400ms ease;
  transition: -webkit-box-shadow 400ms ease;
  transition: box-shadow 400ms ease;
  transition: box-shadow 400ms ease, -webkit-box-shadow 400ms ease;
  -webkit-box-shadow: 0 0 2.5rem Rgba(var(--c-shadow-rgb), 0);
  box-shadow: 0 0 2.5rem Rgba(var(--c-shadow-rgb), 0);
}
.js-scrolled .c-mob-head {
  -webkit-box-shadow: 0 0 2.5rem Rgba(var(--c-shadow-rgb), 0.15);
  box-shadow: 0 0 2.5rem Rgba(var(--c-shadow-rgb), 0.15);
}
.c-mob-head__logo {
  width: 8rem;
}
.c-mob-head__wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.c-mob-head__ham {
  width: 2.6rem;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.c-mob-navi {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 2.8rem var(--m-padding);
  color: var(--c-white);
  background: var(--c-theme);
  pointer-events: none;
  visibility: hidden;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0;
  -webkit-transition: opacity calc(var(--js-mob-transition-dur) - 200ms) ease,
    -webkit-transform var(--js-mob-transition-dur) cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity calc(var(--js-mob-transition-dur) - 200ms) ease,
    -webkit-transform var(--js-mob-transition-dur) cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity calc(var(--js-mob-transition-dur) - 200ms) ease,
    transform var(--js-mob-transition-dur) cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity calc(var(--js-mob-transition-dur) - 200ms) ease,
    transform var(--js-mob-transition-dur) cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform var(--js-mob-transition-dur) cubic-bezier(0.19, 1, 0.22, 1);
}
html.js-navi-open .c-mob-navi {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
html.js-navi-open .c-mob-navi,
html.js-navi-closing .c-mob-navi {
  z-index: calc(var(--z-header) + 1);
  visibility: visible;
  pointer-events: all;
}
.c-mob-navi__close {
  position: absolute;
  top: 2.8rem;
  right: var(--m-padding);
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
.c-mob-navi__close,
.c-mob-navi__close svg {
  width: 1.8rem;
  height: 1.8rem;
}
.c-mob-navi__wrap {
  padding: 10.4rem 0 6rem;
  overflow-y: scroll;
}
.c-mob-navi__nav {
  list-style: none;
  text-align: center;
}
.c-mob-navi__nav > li:not(:first-child) {
  margin-top: 1em;
}

@media (min-width: 900px) {
  .c-mob-head,
  .c-mob-navi {
    display: none;
  }
}
/* Second Header
----------------------------------------------- */
/* Footer
----------------------------------------------- */
.c-footer {
  padding: 3rem 0;
  margin-top: 4rem;
}

/* Archive / Archive Item
----------------------------------------------- */
.c-arch {
  display: grid;
  gap: 3rem;
  grid: auto/repeat(4, 1fr);
  list-style: none;
}

.c-arch-item > a {
  display: block;
}

/* Pagination
----------------------------------------------- */
.c-pagination {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 3rem;
}

/* Home
----------------------------------------------- */
/**
* Hero
*/
.t-home-hero__slider,
.t-home-hero__img {
  width: 100%;
  height: calc(var(--js-vh) * 100);
}
.t-home-hero__slider img,
.t-home-hero__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
