@use "constants" as *;

/* stylelint-disable-next-line no-duplicate-selectors */
:root {
    font-size: 62.5%;
    scroll-behavior: smooth;

    //
    // JS
    //
    --js-mob-transition-dur: 800ms;
    --js-mob-threshold: #{$breakpoint-m};
    --js-vh: 1vh;

    //
    // Colors
    //
    --c-black: #000;
    --c-white: #fff;
    --c-text: #444;
    --c-theme: #6e98cc;

    --c-shadow: #323232;
    --c-shadow-rgb: 50, 50, 50;

    //
    // Measurements
    //
    --m-padding: 2rem;
    --m-content-width: 120rem;

    @media (min-width: $breakpoint-m) {
        --m-padding: 7rem;
    }

    //
    // Z-Index
    //
    --z-header: 1000;

    //
    // Text
    //
    // Family
    --ff-sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic",
        YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;

    // Weight
    --fw-regular: 400;

    // Size
    --fs-body: 1.6rem;
}
